:root {
  --spacer1: 4px;
  --spacer2: calc(var(--spacer1) * 2);
  --spacer3: calc(var(--spacer1) * 3);
  --spacer4: calc(var(--spacer1) * 4);
  --spacer5: calc(var(--spacer1) * 5);
  --spacer6: calc(var(--spacer1) * 6);
  --spacer7: calc(var(--spacer1) * 7);
  --spacer8: calc(var(--spacer1) * 8);
  --spacer9: calc(var(--spacer1) * 9);
  --spacer10: calc(var(--spacer1) * 10);
}
